{% extends "layout.html" %}

{% block page_title %}
  Claim for the cost of healthcare while abroad
{% endblock %}

{% block proposition_header %}
    {% include "includes/proposition_header.html" %} 
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="../">Overseas Healthcare Service</a></li>
      <li>Claim</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <!-- {% if serviceName %} {{ serviceName }} {% endif %} -->
        Claim for the cost of healthcare  abroad
      </h1>

      <p class="lede">
        People insured in the UK may be eligible to claim for some of the costs of healthcare while abroad in the EU, EEA countries, or Switzerland.
      </p>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>claim reimbursement of healthcare costs incurred while abroad in participating countries</li>
      </uL>

      {% include "includes/participating_countries.html" %}

      <p>Submitting a claim can take more than 10 minutes. You can save a claim you started and return to submit it later.</p>

      <p>
        <a class="button button-start" href="#" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You need your <u>[document, and document]</u>. </p>

      <p></a></p>

      <p>To use this service you must be entitled to UK healthcare benefits.</p>

    </div>
    <!-- div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div -->
  </div>

</main>

{% endblock %}
