{% extends "layout.html" %}

{% block page_title %}
  ************************************************************************ TITLE ***************************** 
{% endblock %}

{% block content %}
<main id="content" role="main">

      <a class="link-back" href="javascript:window.history.back()">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Title
        </h1>

        <p>
          Text
        </p>

        <h2 class="heading-medium">
          Heading
        </h2>

        <p>
          Text
        </p>
       
      <p>
        <a class="button button-continue" href="*.html" role="button">Continue</a>
      </p>
<!-- 
      <form class="form" action="#" method="post">

        <p>[Insert question content here]</p>

        <p>[See <a href="https://govuk-elements.herokuapp.com/form-elements/">GOV.UK Elements</a> for examples]</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>
-->

    </div>
  </div>
</main>
{% endblock %}
