{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="#" class="link-back">Back</a>

      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">
        Personal details
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Sarah Philips
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            5 January 1978
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Home address
          </dt>
          <dd class="cya-answer">
            72 Guild Street<br />
            London<br />
            SE23 6FH
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Email <!-- Contact details -->
          </dt>
          <dd class="cya-answer">
            <!-- 07700 900457<br /> -->
            sarah.phillips@example.com
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> email <!-- contact details --></span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            National insurance number
          </dt>
          <dd class="cya-answer">
            AB123456C
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="heading-medium">
        Application details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Destination country
          </dt>
          <dd class="cya-answer">
            Estonia
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> destination country</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Departure date
          </dt>
          <dd class="cya-answer">
            23 June 2016<br />
            I have already gone abroad
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> departure date</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Reason for going abroad
          </dt>
          <dd class="cya-answer">
            to live abroad
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> reason for going</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Receipt of UK pension?
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> receipt of UK pension</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Receipt of pension from another country?
          </dt>
          <dd class="cya-answer">
            No
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> receipt of UK pension</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="heading-medium">Send your application</h2>

      <p class="text">
        By submitting this application you confirm that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <div class="form-group">
        <a href="/apply-for-state-healthcare-overseas/confirmation" class="button">Accept and send application</a>
      </div>

<br />

      <!-- div class="form-group">
        <a href="/apply-for-state-healthcare-overseas/confirmation-download" class="button">Accept and send application (self-service outcome)</a -->
      </div>
    </div>
  </div>
</main>

{% endblock %}
