{% extends "layout.html" %}

{% block page_title %}
  Register for oversears healthcare | Create an account
{% endblock %}

{% block content %}
<main id="content" role="main">

      <a class="link-back" href="/apply-for-state-healthcare-overseas/sign-in-register">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">



        <h1 class="heading-xlarge">
          Register
        </h1>

        <p>
          First, tell us who you are.
        </p>

        <p>
          Form here.
        </p>


    </div>
  </div>
</main>
{% endblock %}
