<!DOCTYPE html>
<html>
<head>
	<title>email notification</title>

  <style type="text/css">

  	body {
  		margin: 3em;
  	}

  	.app-panel {
  		max-width: 840px;
  		border-right: 2px solid #cacaca;
  		border-bottom: 2px solid #cacaca;
  	}
  	.email-head {
  		border: 5px solid #ececec;
  		background-color: #ececec;
  		padding: 0.2em 1em;
  		line-height: 1.2em;
  		font-family: sans-serif;
  		font-size: 0.86em;
  		font-weight: 500;
  	}
  	.email-body {
  		border: 5px solid #ececec;
  		padding: 1.6em;
  	}
  	.bold {

  		font-weight: 600;
  	}
  </style>


</head>
<body>
<main id="content" role="main">

<div class="app-panel">
	<div class="email-head">
		
		<p>From: overseas-healthcare@ohs.dhsc.gov.uk</p>
		<p>
			Sent: Wednesday, 14 February 2018, 11:59 AM 
		</p>
		<p>
			To: sarah.phillips@example.com
		</p>
		<p class="bold">
			Subject: Your application for Overseas Healthcare
		</p>
	</div>
	<div class="email-body">
		
		<p>Dear Sarah,</p>
		
		<p>We sent you a secure notification about your application for overseas healthcare. </p>
		
		<p>To read your message login with the email and password generated when you submitted your application :  <a href="./sign-in">http://www.gov.uk/overseas-healthcare-application?sign-in=new-message</a></p>

		<br><br><br>

	</div>
</div>

</main>



</body>
</html>