{% extends "layout.html" %}

{% block page_title %}
  Do you receive a pension from another country?
{% endblock %}

{% block content %}
<main id="content" role="main">

      <a class="link-back" href="javascript:window.history.back()">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/apply-for-state-healthcare-overseas/check-your-answers" method="get" class="form">

        <h1 class="heading-large">
          Do you receive a pension from another country other than the UK?
        </h1>
       
        <div class="form-group">
          <fieldset>


            <legend class="visuallyhidden">Do you receive a pension from another country, other than the UK?</legend>

            <div class="multiple-choice">
              <input id="signin" type="radio" name="signinregister" value="signin">
              <label class="form-label" for="signin">Yes<span class="bold-small"></span>
              <span class="form-hint">
              </span></label>
            </div>

            <div class="multiple-choice">
              <input id="verify" type="radio" name="signinregister" value="verify">
              <label class="form-label" for="verify">No<span class="bold-small"></span>
              <span class="form-hint">
              </span></label>
            </div>


          </fieldset>
        </div>

        <div class="form-group">
          <input id="submit" type="submit" value="Save and continue"  class="button button-continue">
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
